{% load static %}

<!-- start footer -->
<footer id="blog">
        <div class="widget about-widget">
            
            <ul class="footer-social-links">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-reddit"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
            </ul>
        </div>
        <div></div>
            <ul class = "footer-site-map">
                <li><a href="/whitepaper/">Whitepaper</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/disclaimer/">Disclaimer</a></li>
                <li><a href="/terms-service/">Terms of Service</a></li>
                <li><a href="/privacy-policy/">Privacy policy</a></li>
                <li><a href="/contact-form/">Contact</a></li>
            </ul>
            <p class="copyright">2017 &copy; All Rights Reserved</p>
        </div>
</footer>
<!-- end footer -->